.App {
  text-align: center;
}

body {
  background-color: rgb(19, 19, 32);
}

a {
  color: rgb(19, 19, 32);
  text-decoration: none;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

nav h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 25%;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

nav ul li {
  list-style: none;
}

.quote {
  width: 100%;
  min-height: 100vh;
  padding-top: 20vh;
}

.quote-container {
  margin: 80px auto;
  background-color: rgb(223, 223, 223);
  box-shadow: inset 5px 5px 12px #fff, inset 5px 5px 12px rgba(0, 0, 0, 0.281);
  padding: 40px 40px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.quote-container h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 712px) {
  body {
    padding: 0 20px;
  }

  nav h1 {
    font-size: 30px;
  }

  nav ul {
    margin-top: 20px;
    width: 90%;
  }

  nav {
    flex-direction: column;
    padding: 20px 0;
  }

  .quote-container h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .quote-container {
    width: 90%;
    padding: 25px 20px;
  }
}
